---
import Layout from "../../layouts/Layout.astro";
import Header2 from "../../components/Header2.astro";
---

<Layout>
  
  <div class="grid grid-cols-5 grid-rows-6 m-20 ">
    <img class="col-start-3 row-start-1 col-span-3 row-span-2 p-5" src="/billeder/roserGul.png" />
    <img class="col-start-3 row-start-3 col-span-3 row-span-2 p-5" src="/billeder/roserGraa.png" />
    <img class="col-start-3 row-start-5 col-span-3 row-span-2 p-5" src="/billeder/roserGraa2.png" />
    <div class="col-start-1 col-span-2 row-span-2 border-1 p-5">
        <p>
            hjfwnj
        </p>
      </div>
  </div>
  
</Layout>
