---
import Layout from "../../layouts/Layout.astro";
import Header2 from "../../components/Header2.astro";
---

<Layout>
  
  <div class="grid grid-cols-5 grid-rows-6 m-20 font-serif">
    <p class="col-start-2 col-span-3 text-center italic text-lime-300 pt-4">.-*.._-* this is the results of me learning about bitmapping *-_..*-.</p>
    <p class="col-start-3 row-start-3 m-4 text-center italic text-indigo-400">the project is called 'roses'</p>
    <p class="col-start-3 row-start-4 m-4 pt-15 text-center italic text-indigo-300">it came to life in processing</p>
    <img class="col-start-1 row-start-2 col-span-2 row-span-2 p-5 border-" src="/billeder/roserGul.png" />
    <img class="col-start-4 row-start-2 col-span-2 row-span-2 p-5" src="/billeder/roserGraa.png" />
    <img class="col-start-1 row-start-5 col-span-2 row-span-2 p-5" src="/billeder/roserGraa2.png" />
    <img class="col-start-4 row-start-5 col-span-2 row-span-2 p-5" src="/billeder/roserr.png" />

    <!-- <div class="col-start-1 col-span-2 row-span-2 border-1 p-5">
        <p>
            hjfwnj
        </p>
    </div> -->
  </div>
  
</Layout>
