---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Header2 from "../../components/Header2.astro";
---

<Layout>
  <div class="top-0 right-4 hidden
    md:fixed md:inline md:w-40  
    lg:w-40 
    xl:w-55 xl:right-1">
      <Header />
    </div>
    <div class="top-0 left-4
    md:fixed md:inline md:w-40 
    lg:top-42 lg:w-40 
    xl:w-50 xl:top-4">
    <Header2 />
    </div>

  <div>
    <div>
      <h1 class="text-8xl blur-[1px] m-7 text-center font-script  bg-gradient-to-r from-indigo-200 via-slate-100 to-slate-800 text-transparent bg-clip-text
      xl:text-9xl xl:m-20"
      >Bitmap Roses</h1>
    </div>
  
    <div class="grid font-head
    lg:grid-cols-6 lg:grid-rows-10 lg:m-20  
    xl:text-2xl">
      <p class="lg:col-start-3 lg:row-start-4 lg:col-span-2 lg:m-4 text-center italic text-lime-300">the project is called 'roses'</p>
      <p class="lg:col-start-3 lg:row-start-7 lg:col-span-2 lg:m-4 text-center italic text-lime-300">it came to life in processing</p>
  
      <img class="p-4 lg:col-start-1 lg:row-start-1 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roserGul.png"/>
      <img class="p-4 lg:col-start-3 lg:row-start-1 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser1.png"/>
      <img class="p-4 lg:col-start-5 lg:row-start-1 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser2.png"/>
      <img class="p-4 lg:col-start-5 lg:row-start-3 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser3.png" />
      <img class="p-4 lg:col-start-5 lg:row-start-5 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser4.png" />
      <img class="p-4 lg:col-start-5 lg:row-start-7 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser5.png" />
      <img class="p-4 lg:col-start-5 lg:row-start-9 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser6.png" />
      <img class="p-4 lg:col-start-3 lg:row-start-9 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser7.png" />
      <img class="p-4 lg:col-start-1 lg:row-start-9 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser8.png" />
      <img class="p-4 lg:col-start-1 lg:row-start-7 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser10.png" />
      <img class="p-4 lg:col-start-1 lg:row-start-5 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser12.png" />
      <img class="p-4 lg:col-start-1 lg:row-start-3 lg:col-span-2 lg:row-span-2" src="/billeder/roser/roser13.png" />
    <div>
  </div>
  
  
</Layout>
