---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="grid grid-cols-5 grid-rows-7 m-20">
        <p class="col-start-2 col-span-3 pt-15 text-center italic font-serif text-lime-300">.-*.._-* this is a zine that i made *-_..*-.</p>
        <img src="/billeder/zine.png" class="col-start-2 col-span-3 row-span-2"/>
        <p class="col-start-2 row-start-4 col-span-3 pt-3 text-center italic font-serif text-indigo-300">it's about shopping in a super market and being overwhelmed AF and also very confused</p>
        <p class="col-start-2 row-start-4 col-span-3 pt-30 text-center italic font-serif text-indigo-300">later it became a poster!!</p>
        <img src="/billeder/plakat2.jpg" class="col-start-2 col-span-3 row-span-3"/>
    </div>


</Layout>