---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-4 grid-rows-7">
    <div class="text-center col-start-2 col-span-2">
      <h1 class="text-center text-lime-300 italic pt-40 font-serif">thank u for sitting down with me !!</h1>
      <p class="text-center text-lime-300 italic font-serif">this is what i bring 2 the table..</p>
    </div>

    <div class="col-start-2 row-start-2 row-span-2 col-span-2">
      <img src="/billeder/scan.jpg" class="invert grayscale contrast-120 opacity-100 hover:opacity-0 transition duration-500"/>
      <!-- <img src="/billeder/bord2.jpg" class="w-80 absolute inset-x-170 inset-y-200" -->
    </div>

    <p class="col-start-2 row-start-4 italic text-indigo-300 pt-5 font-serif">im a visual artist.....</p>
    <p class="col-start-2 row-start-4 italic text-indigo-300 pt-15 text-right font-serif">...and i draw with code...</p>
    <p class="col-start-2 row-start-4 italic text-indigo-300 pt-40 text-center font-serif">...and i design...</p>
    <p class="col-start-2 row-start-5 col-span-2  italic text-indigo-300 text-center font-serif">...and i do live visuals...</p>
    <p class="col-start-3 row-start-5 col-span-2 pt-20 italic text-indigo-300 font-serif">...and i interact with technology and pop culture...</p>
    <p class="col-start-3 row-start-5 pt-40 text-right italic text-indigo-300 font-serif">...and i create scenography...</p>
    <p class="col-start-2 row-start-6 col-span-2 pt-10 text-center italic text-indigo-300 font-serif">...and i get lost in golden light and pretty colors </p>
    <p class="col-start-3 row-start-6 pt-20 pl-4 italic text-indigo-300 font-serif">and disotrion and abstraction...</p>
    <p class="col-start-2 row-start-7 col-span-2 text-center italic text-indigo-300 font-serif">...and i photograph...</p>
    <p class="col-start-3 row-start-7 col-span-2 pt-5 text-center italic text-indigo-300 font-serif">...and make videos...</p>
    <p class="col-start-3 row-start-7 col-span-2 pt-10 text-center italic text-indigo-300 font-serif">...and i edit them...</p>
    <p class="col-start-2 row-start-7 col-span-2 pt-30 text-center italic text-indigo-300 font-serif">...other than that, im a first year student at dmjx.</p>
    <p class="col-start-3 row-start-7 col-span-2 pt-35 italic text-indigo-300 font-serif">i study coded design.</p>
    
  </div>
</Layout>
