---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-lime-300 p-40">om mig</h1>
  <div class="w-50">
    <img src="/billeder/els.jpg" alt="" />
  </div>
</Layout>
