---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid lg:grid-rows-7 lg:grid-cols-2 xl:grid-cols-5 sm:grid-cols-2 sm:grid-rows-7">
    <div class="text-center lg:col-start-1 lg:col-span-2 xl:col-start-2 xl:col-span-3 sm:col-span-2">
      <h1 class="text-center text-lime-300 italic pt-30 font-serif">thank u for sitting down with me !!</h1>
      <p class="text-center text-lime-300 italic font-serif">this is what i bring 2 the table..</p>
    </div>

    <div class="lg:col-start-1 lg:row-start-2 lg:row-span-2 lg:col-span-2 xl:col-start-2 xl:col-span-3 sm:col-span-2">
      <img src="/billeder/scan.jpg" class="invert grayscale contrast-120 opacity-100 hover:opacity-0 transition duration-500"/>
      <!-- <img src="/billeder/bord2.jpg" class="w-80 absolute inset-x-170 inset-y-200" -->
    </div>

    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 italic text-indigo-300 pt-5 font-serif">im a visual artist.....</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-2 col-span-2 italic text-indigo-300 pt-15 text-center font-serif">...and i draw with code...</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 italic text-indigo-300 pt-30 text-center font-serif">...and i design...</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 col-span-2  italic text-indigo-300 pt-40 text-center font-serif">...and i do live visuals...</p>
    <p class="lg:col-start-1 lg:row-start-5 xl:col-start-3 col-span-2 italic text-indigo-300 font-serif">...and i interact with technology and pop culture...</p>
    <p class="lg:col-start-1 lg:row-start-5 pt-20 col-span-2 text-right italic text-indigo-300 font-serif">...and i create scenography...</p>
    <p class="lg:col-start-1 lg:row-start-6 col-span-2 text-center italic text-indigo-300 font-serif">...and i get lost in golden light and pretty colors </p>
    <p class="lg:col-start-1 lg:row-start-6 col-span-2 pt-5 text-right italic text-indigo-300 font-serif">and distortion and abstraction...</p>
    <p class="lg:col-start-1 lg:row-start-6 col-span-2 pt-30 text-center italic text-indigo-300 font-serif">...and i photograph...</p>
    <p class="lg:col-start-1 lg:row-start-7 col-span-2 pt-5 text-center italic text-indigo-300 font-serif">...and make videos...</p>
    <p class="lg:col-start-2 lg:row-start-7 col-span-2 pt-10 italic text-indigo-300 font-serif">...and i edit them...</p>
    <p class="lg:col-start-1 lg:row-start-7 xl:col-start-2 col-span-2 text-right pt-30 italic text-indigo-300 font-serif">...other than that, im a first year student at dmjx.</p>
    <p class="lg:col-start-1 lg:row-start-7 xl:col-start-3 lg:col-span-2 xl:text-left lg:text-right lg:pt-35 sm:pt-0 italic text-indigo-300 font-serif">i study coded design.</p>
    
  </div>
</Layout>
