---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Header2 from "../components/Header2.astro";
---

<Layout>
  <div class="top-0 right-4 hidden
    md:fixed md:inline md:w-40  
    lg:w-40 
    xl:w-55 xl:right-1">
    <Header />
  </div>
  <div class="top-0 left-4 hidden
    md:fixed md:inline md:w-40 
    lg:top-42 lg:w-40 
    xl:w-50 xl:top-4">
    <Header2 />
  </div>

  <div class="font-script text-center m-5 pt-5 
  xl:m-20">

    <h1 class="text-5xl blur-[1px] bg-gradient-to-r from-slate-100 via-slate-800 to-slate-200 text-transparent bg-clip-text
    xl:text-7xl"
    >Thank You For Sitting Down With Me</h1>

    <h2 class="pt-6 font-head text-slate-700 
    xl:pt-8 xl:text-2xl"
    >this is who you'll be dining with..</h2>

  </div>

  <div class="grid grid-cols-2 m-4
  xl:grid-cols-5 xl:grid-rows-6 xl:text-[20px]">

    <div class="col-span-2 row-span-2
    xl:col-start-2 xl:row-start-1 xl:col-span-3 xl:row-span-2 ">
      <img src="/billeder/scan.jpg" class="invert grayscale contrast-120"/>
    </div>

    
    <p class="text-lime-300 font-head 
    lg:col-start-1 lg:row-start-4 
    xl:col-start-2 xl:row-start-3 xl:pt-0 xl:text-right "
    >im a visual artist.....</p>

    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-4 
    xl:col-start-3 xl:row-start-3 xl:col-span-2 xl:pt-10  "
    >...and i draw with code...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-4 
    xl:col-start-3 xl:row-start-3 xl:pt-20 xl:text-center  "
    >...and i design...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-4 
    xl:col-start-3 xl:row-start-3 xl:col-span-2 xl:pt-30 xl:text-center  "
    >...and i do live visuals...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-5 
    xl:col-start-2 xl:row-start-3 xl:col-span-3 xl:pt-40  "
    >...and i interact with technology and pop culture...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-5 
    xl:col-start-4 xl:row-start-4 xl:col-span-2 xl:pt-0  "
    >...and i create scenography...</p>

    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-6 
    xl:col-start-3 xl:row-start-4 xl:col-span-3 xl:pt-10  "
    >...and i get lost in golden light and pretty colors </p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-6 
    xl:col-start-3 xl:row-start-4 xl:pt-20 xl:col-span-2  "
    >and distortion and abstraction...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-6 
    xl:col-start-2 xl:row-start-5 xl:pt-0 xl:col-span-2 xl:text-center  "
    >...and i photograph...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-7 
    xl:col-start-3 xl:row-start-5 xl:pt-5 xl:col-span-2 xl:text-center "
    >...and make videos...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-2 lg:row-start-7 
    xl:col-start-3 xl:row-start-5 xl:col-span-2 xl:pt-10  "
    >...and i edit them...</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-7 
    xl:col-start-2 xl:row-start-5 xl:col-span-3 xl:pt-30 xl:text-right"
    >...other than that, im a first year student at dmjx.</p>
    
    <p class="text-lime-300 font-head
    lg:col-start-1 lg:row-start-7 lg:col-span-2 lg:text-right lg:pt-35 
    xl:col-start-4 xl:row-start-5 xl:pt-38 xl:text-left  "
    >i study coded design.</p>

    <a class="col-start-2 row-start-10 m-6 pb-20 text-center font-head text-lime-300 bg-gradient-to-b from-slate-700 to-slate-50
    xl:row-start-6 xl:m-0 xl:text-2xl xl:pt-5"
    href="/menu">shall we take a look at the menu?</a>
  
  </div>
</Layout>
