---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="xl:m-20 font-script text-center  text-slate-700">
    <h1 class="xl:text-7xl blur-[1px] bg-gradient-to-r from-slate-100 via-slate-800 to-slate-200 text-transparent bg-clip-text">Thank You For Sitting Down With Me</h1>
    <h2 class="xl:pt-8 xl:text-2xl font-head">this is what i bring to the table..</h2>
  </div>
  <div class="grid xl:grid-cols-5 xl:grid-rows-6 sm:grid-cols-2 sm:grid-rows-7">
    <div class="xl:col-start-2 xl:row-start-1 xl:col-span-3 xl:row-span-2 sm:col-span-2">
      <img src="/billeder/scan.jpg" class="invert grayscale contrast-120"/>
    </div>

    
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-2 xl:row-start-3 xl:pt-0 xl:text-right text-lime-300 font-head">im a visual artist.....</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 xl:row-start-3 xl:col-span-2 xl:pt-10  text-lime-300 font-head">...and i draw with code...</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 xl:row-start-3 xl:pt-20 xl:text-center  text-lime-300 font-head">...and i design...</p>
    <p class="lg:col-start-1 lg:row-start-4 xl:col-start-3 xl:row-start-3 xl:col-span-2 xl:pt-30 xl:text-center  text-lime-300 font-head">...and i do live visuals...</p>
    <p class="lg:col-start-1 lg:row-start-5 xl:col-start-2 xl:row-start-3 xl:col-span-3 xl:pt-40  text-lime-300 font-head">...and i interact with technology and pop culture...</p>
    <p class="lg:col-start-1 lg:row-start-5 xl:col-start-4 xl:row-start-4 xl:col-span-2 xl:pt-0  text-lime-300 font-head">...and i create scenography...</p>
    <p class="lg:col-start-1 lg:row-start-6 xl:col-start-3 xl:row-start-4 xl:col-span-3 xl:pt-10  text-lime-300 font-head">...and i get lost in golden light and pretty colors </p>
    <p class="lg:col-start-1 lg:row-start-6 xl:col-start-3 xl:row-start-4 xl:pt-20 xl:col-span-2  text-lime-300 font-head">and distortion and abstraction...</p>
    <p class="lg:col-start-1 lg:row-start-6 xl:col-start-2 xl:row-start-5 xl:pt-0 xl:col-span-2 xl:text-center  text-lime-300 font-head">...and i photograph...</p>
    <p class="lg:col-start-1 lg:row-start-7 xl:col-start-3 xl:row-start-5 xl:pt-5 xl:col-span-2 xl:text-center text-lime-300 font-head">...and make videos...</p>
    <p class="lg:col-start-2 lg:row-start-7 xl:col-start-3 xl:row-start-5 xl:col-span-2 xl:pt-10  text-lime-300 font-head">...and i edit them...</p>
    <p class="lg:col-start-1 lg:row-start-7 xl:col-start-2 xl:row-start-5 xl:col-span-3 xl:pt-30 xl:text-right   text-lime-300 font-head">...other than that, im a first year student at dmjx.</p>
    <p class="lg:col-start-1 lg:row-start-7 lg:col-span-2 lg:text-right lg:pt-35 xl:col-start-4 xl:row-start-5 xl:pt-38 xl:text-left  sm:pt-0  text-lime-300 font-head">i study coded design.</p>
  
  </div>
</Layout>
