---
import Layout from "../layouts/Layout.astro";
import Header2 from "../components/Header2.astro";
---

<Layout>
  <div>
    <h1 class="text-center xl:text-2xl xl:m-20 font-head text-indigo-200">.-*.._-* hello stranger *-_..*-.</h1>
  </div>
  <div class="grid lg:grid-cols-4 lg:grid-rows-3 xl:grid-cols-6 xl:grid-rows-2 font-serif">
    <p class="lg:col-start-3 xl:col-start-4 xl:pt-30 xl:text-right  text-indigo-400 italic">i feel like ....</p>
    <p class="lg:col-start-4 lg:row-start-2 lg:col-span-2 xl:pl-4  text-indigo-400 italic">we've met before ..... ?</p>
    <p class="lg:col-start-2 lg:row-start-3 lg:pt-35 xl:col-start-2 xl:row-start-2 xl:pt-30 xl:text-center italic text-indigo-300">anyways .... </p>
    <a
      class="lg:col-start-2 lg:row-start-3 lg:pt-45 xl:col-start-2 xl:row-start-2 xl:col-span-2 xl:pt-36 text-indigo-300 xl:text-center italic"
      href="/about">have a seat :)</a
    >

    <a href="/about"  class="lg:col-start-2 lg:row-start-2 lg:col-span-2 lg:row-span-2 xl:col-start-2 xl:row-start-1 xl:m-15">
      <img
        class="grayscale contrast-200 backdrop-blur-3xl backdrop-brightness-50 blur-xs"
        src="/billeder/stol.png"
      /> 
    </a>
  </div>
</Layout>
