---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import Case2 from "../components/Case2.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="p-8 text-3xl font-thin bg-violet-100">elsebeth</h1>
  <Case title="meget sej titel" />
  <Case2 title="sejere titel" />
  <div class="w-100 grid grid-cols-2 pt-4">
    <img src="/billeder/plastikpose.png" alt="" />
    <img src="/billeder/gebis.png" alt="" />
  </div>

  <!-- <div class="w-24 h-24 bg-primary"></div>
  <div class="w-24 h-24 bg-secondary"></div> -->
</Layout>
