---
import Layout from "../layouts/Layout.astro";
import Elsebeth from "../components/Elsebeth.astro";
---

<Layout>
  <div class="grid grid-cols-12 grid-rows-5">
    <Elsebeth />
    <div class="col-start-12 row-start-3 grayscale">
      <img src="/billeder/slikkepinde.png" alt="" />
    </div>
    <div
      class="col-start-1 row-start-4 col-span-2 row-span-2 border-1 border-white"
    >
      <p>INDÆST BILLEDE eller ligm</p>
    </div>
    <div class="col-start-11 row-start-1 col-span-2 row-span-3 pt-4">
      <p class="bg-lime-300 hover:invert">ting jeg har lavet</p>
      <p class="text-lime-300 hover:bg-indigo-300">roser</p>
      <p class="text-lime-300 hover:bg-indigo-300">jukebox</p>
      <p class="text-lime-300 hover:bg-indigo-300">zine</p>
      <p class="text-lime-300 hover:bg-indigo-300">hjerte</p>
      <p class="text-lime-300 hover:bg-indigo-300">wikipedia</p>
      <p class="text-lime-300 hover:bg-indigo-300">plakat</p>
      <p class="text-lime-300 hover:bg-indigo-300">visuals</p>
      <p class="text-lime-300 hover:bg-indigo-300">magasinforside</p>
      <p class="text-lime-300 hover:bg-indigo-300">stilleben</p>

      <p class="bg-lime-300 hover:invert">kontakt info</p>
      <p class="bg-lime-300 hover:invert">info info</p>
    </div>
  </div>
</Layout>
