---
import Layout from "../layouts/Layout.astro";
import Header2 from "../components/Header2.astro";
---

<Layout>
  <div>
    <h1 class="text-center xl:text-2xl m-20 italic font-serif text-indigo-200">.-*.._-* hello stranger *-_..*-.</h1>
  </div>
  <div class="grid lg:grid-cols-4 lg:grid-rows-3 xl:grid-cols-6 xl:grid-rows-3 font-serif">
    <p class="lg:col-start-3 xl:col-start-4 xl:pt-30 text-right italic text-indigo-400">i feel like ....</p>
    <p class="lg:col-start-4 lg:row-start-2 lg:col-span-2 pl-4 italic text-indigo-400">we've met before ..... ?</p>
    <p class="lg:col-start-2 lg:row-start-3 lg:pt-35 xl:col-start-2 xl:row-start-3 xl:pt-0 text-center italic text-indigo-300">anyways .... </p>
    <a
      class="lg:col-start-2 lg:row-start-3 lg:pt-45 xl:col-start-2 xl:row-start-3 xl:pt-10 text-indigo-300 text-center italic"
      href="/about">have a seat :)</a
    >

    <a href="/about"  class="lg:col-start-2 lg:row-start-2 lg:col-span-2 lg:row-span-2 xl:col-start-2 xl:row-start-1 xl:m-4 xl:pt-10">
      <img
        class="grayscale contrast-200 backdrop-blur-3xl backdrop-brightness-50 blur-xs"
        src="/billeder/stol.png"
      /> 
    </a>
  </div>
</Layout>
