---
import Layout from "../layouts/Layout.astro";
import Header2 from "../components/Header2.astro";
---


<Layout>
  
  <div class="grid grid-cols-5 grid-rows-2 ">
    <a class="col-start-4 row-start-2 text-white italic" href="/about">have a seat :)</a>
    
    <img class="grayscale contrast-200 col-start-3 row-start-2 h-80" src="/billeder/stol.png"/>
  
  </div>
  <!-- <div class="h-[220rem] bg-purple-100 w-full"></div> -->
</Layout>
