---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-4 grid-rows-2">  
    <div class="p-40 col-span-4">
      <h1 class="text-center text-rose-500">kontakt mig</h1>
    </div>

  <div class="col-start-2 row-start-2 col-span-2 pt-20 justify-items-center">
  <div class="cursor-pointer hover:bg-black">
    <a class="text-center text-lime-300" href="https://www.instagram.com/elsebethbot/">insta : elsebethbot</a>
  </div>
  <div class="cursor-pointer hover:bg-black">
    <a class="text-center text-lime-300" href="https://e-2000.tumblr.com/">tumblr : e-2000.tumblr.com</a>
  </div>
</div>
</div>
</Layout>
