---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-rose-500 p-40">kontakt mig</h1>
  <p class="text-center text-indigo-300">insta : elsebethbot</p>
  <p class="text-center text-indigo-300">tumblr : e-2000.tumblr.com</p>
</Layout>
