---
import Layout from "../layouts/Layout.astro";

---

<Layout>
  
  <div class="grid grid-cols-3 grid-rows-5 font-serif italic">  
    <!-- <div class="col-span-4">
      <h1 class="text-center pt-10  text-indigo-300">how to contact me u ask?</h1>
    </div> -->
    <div class="col-start-2 row-start-2 row-span-2">
      <img src="/billeder/contact.jpg"/>
    </div>



  <div class="col-start-2 row-start-5 text-center">
    <a class="text-center text-lime-300 cursor-pointer hover:bg-black" href="https://www.instagram.com/elsebethbot/">insta : elsebethbot</a>
  </div>

  <div class="col-start-2 row-start-4 text-center pt-15 ">
    <a class="text-center text-lime-300 cursor-pointer hover:bg-black" href="https://e-2000.tumblr.com/">tumblr : e-2000.tumblr.com</a>
  </div>
  
  </div>
</Layout>
