---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <!-- <div class="top-0 right-4 
    md:fixed md:inline md:w-40  
    lg:w-40 
    xl:w-40">
      <Header />
    </div> -->
    <div class="font-script text-center m-5 pb-2 text-5xl blur-[1px] bg-gradient-to-r from-slate-100 via-slate-800 to-slate-200 text-transparent bg-clip-text">
      <h>
        Appetizers
      </h>
    </div>

  <div class="grid grid-cols-2 grid-rows-3 m-4">
    <a href="/cases/roser">
      <img src="/billeder/plateRoser.png"></>
    </a>
    <img src="/billeder/plateOe.png"></>
    <img src="/billeder/plateStilleben.png"></>
    <img src="/billeder/plateVisuals.png"></>
    <img src="/billeder/plateWiki.png"></>
    
    <img src="/billeder/plateZine.png"></>
  </div>
</Layout>