---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
    <div class="top-0 right-4 
    md:fixed md:inline md:w-40  
    lg:w-40 
    xl:w-40">
      <Header />
    </div>
</Layout>