---
import Case from "../components/Case.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-rose-500 p-40">mine projekter</h1>
  <div class="grid grid-cols-8 grid-rows-5">
    <p class="text-amber-50 text-[150px] border-1 col-span-2 col-start-1">
      roser
    </p>
    <Case img="/billeder/roserGul.png" />

    <p
      class="text-amber-50 text-[150px] border-1 col-start-1 row-start-2 col-span-2"
    >
      hjerte
    </p>
    <div class="row-start-2 col-start-3">
      <Case img="/billeder/hjerte.jpg" />
    </div>

    <p
      class="text-amber-50 text-[150px] border-1 pl-2 col-span-2 col-start-1 row-start-3"
    >
      jukebox
    </p>
    <div class="row-start-3 col-start-3">
      <Case img="/billeder/jukebox.jpg" />
    </div>

    <p
      class="text-amber-50 text-[150px] border-1 col-span-2 col-start-1 row-start-4"
    >
      wiki
    </p>
    <div class="row-start-4 col-start-3">
      <Case img="/billeder/wiki.png" />
    </div>

    <p
      class="text-amber-50 text-[150px] border-1 col-span-2 col-start-1 row-start-5"
    >
      zine
    </p>
    <div class="row-start-5 col-start-3">
      <Case img="/billeder/zine.png" />
    </div>
  </div>
</Layout>
