---
import Case from "../components/Case.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- <h1 class="text-center text-rose-500 text-[200px]">mine projekter</h1> -->
  

  <!-- <div class="grid grid-cols-12 grid-rows-2">
    <p
      class="text-rose-500 text-[6rem] border-1 col-start-1 rounded-full overflow-hidden"
    >
      roser
    </p>
    <div class="col-span-2">
      <Case img="/billeder/roserGul.png" />
    </div>

    <p
      class="text-black text-[10rem] border-1 rounded-full col-start-4 row-start-1 col-span-2 overflow-hidden"
    >
      hjerte
    </p>
    <div class="row-start-1 col-start-6 col-span-3">
      <Case img="/billeder/hjerte.jpg" />
    </div>

    <p
      class="text-rose-500 text-[10rem] border-1 pl-2 rounded-full col-span-3 col-start-9 row-start-1 overflow-hidden"
    >
      jukebox
    </p>
    <div class="row-start-1 col-start-12">
      <Case img="/billeder/jukebox.jpg" />
    </div>

    <p
      class="text-black text-[14rem] rounded-full overflow-hidden border-1 col-span-2 col-start-1 row-start-2"
    >
      wiki
    </p>
    <div class="row-start-2 col-start-3">
      <Case img="/billeder/wiki.png" />
    </div>

    <p
      class="text-rose-500 text-[14rem] rounded-full overflow-hidden border-1 col-span-2 col-start-4 row-start-2"
    >
      zine
    </p>
    <div class="row-start-2 col-start-6">
      <Case img="/billeder/zine.png" />
    </div>
  </div> -->
</Layout>
