---

---

<div class="col-start-1 row-start-1">
  <h1 class="font-thin text-center text-[300px] cursor-pointer">
    <span
      class="text-rose-500 border-indigo-300 border-2 hover:blur-3xl hover:invert transition duration-700"
      >e</span
    >
    <span
      class="bg-stone-950 text-indigo-300 hover:blur-3xl hover:invert transition duration-700"
      >L</span
    >
    <span
      class="bg-indigo-300 text-rose-500 border-rose-500 border-2 hover:blur-3xl hover:invert transition duration-700"
      >s</span
    >
    <span
      class="border-rose-500 border-10 text-stone-950 hover:blur-3xl hover:invert transition duration-700"
      >e</span
    >
  </h1>
</div>

<div class="col-start-2 row-start-2">
  <h1 class="font-thin text-center text-[300px] cursor-pointer">
    <span
      class="border-stone-950 border-3 text-rose-500 hover:blur-3xl hover:invert transition duration-700"
      >B</span
    >
    <span
      class="text-stone-950 bg-indigo-300 hover:blur-3xl hover:invert transition duration-700"
      >e</span
    >
    <span
      class="border-rose-500 border-1 text-indigo-300 pl-4 pr-4 hover:blur-3xl hover:invert transition duration-700"
      >t</span
    >
    <span
      class="bg-stone-950 text-rose-500 border-indigo-300 border-7 hover:blur-3xl hover:invert transition duration-700"
      >h</span
    >
  </h1>
</div>
