---

---

<div class="pt-4 font-serif m-6">
  <div>
    <a class="border-lime-300 text-slate-500 border-1 hover:invert cursor-pointer block" href="/">back 2 dining hall***</a>
  </div>
  <p class="border-1 border-lime-300 text-indigo-300"> -*menu items :</p>
  
    <div class="cursor-pointer">
      <a class="text-lime-300 hover:bg-indigo-300" href="/cases/roser">roser</a>
      <p class="text-lime-300 hover:bg-indigo-300">jukebox</p>
      <a class="text-lime-300 hover:bg-indigo-300" href="/cases/zine">zine</a>
      <p class="text-lime-300 hover:bg-indigo-300">hjerte</p>
      <p class="text-lime-300 hover:bg-indigo-300">wikipedia</p>
      <p class="text-lime-300 hover:bg-indigo-300">plakat</p>
      <p class="text-lime-300 hover:bg-indigo-300">visuals</p>
      <p class="text-lime-300 hover:bg-indigo-300">jigglypuff</p>
      <p class="text-lime-300 hover:bg-indigo-300">stilleben</p>
      <p class="text-lime-300 hover:bg-indigo-300">ø</p>
      <a class="border-lime-300 text-slate-500 border-1 hover:invert block" href="/kontakt">reach me</a>
      <a class="border-lime-300 text-slate-500 border-1 hover:invert block" href="/about">me info</a>
    </div>
  
</div>
