---
---
<div>
  <img src="/billeder/lys.png" class="xl:h-150  xl:pt-10"></>
</div>

<div class="xl:pt-10">
    <h1 class="font-thin cursor-pointer text-[20px] text-center">
      <div
        class="text-lime-300 border-indigo-300 inline-block  hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-6">*-.e</span>
      </div>
  
      <div
        class="bg-stone-950 text-indigo-300 rounded-full inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-5">L</span>
      </div>
  
      <div
        class=" text-lime-300 inline-block border- hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-3 font-stretch-ultra-condensed">sss</span>
      </div>
  
      <div
        class="text-indigo-300 border-2 border-dotted border-stone-950 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="pl-3 pr-3 font-stretch-ultra-expanded">eeee</span>
      </div>
    </h1>
  </div>
  
  <div class="xl:pt-1">
    <h1 class="font-thin cursor-pointer text-[20px]  text-center">
      <div
        class="border-stone-950 border-3 rounded-full text-lime-300 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="pl-8 pr-2 font-stretch-ultra-expanded">B</span>
      </div>
  
      <div
        class="text-stone-950 bg-indigo-300 hover:blur-3xl inline-block hover:invert transition duration-700"
      >
        <span>e</span>
      </div>
  
      <div
        class="border-lime-300 border-1 pl-10 pr-5 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="font-extrabold">t</span>
      </div>
  
      <div
        class=" text-indigo-300 inline-block  hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-3">h .**-..</span>
      </div>
  
      
    </h1>
    <div class="hidden
    md:fixed w-30 bottom-5 cursor-pointer blur-xs hover:blur-none transition duration-700">
        <img src="/billeder/slikkepinde.png" class="hue-rotate-90" />
      </div>
  </div>
  