---
---

<div>
    <h1 class="font-thin cursor-pointer text-[150px] pt-4">
      <div
        class="text-lime-300 border-indigo-300 inline-block border-5 hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-6">*-.e</span>
      </div>
  
      <div
        class="bg-stone-950 text-indigo-300 rounded-full inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-15">L</span>
      </div>
  
      <div
        class="bg-indigo-300 text-lime-300 inline-block border-2 hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-3 font-stretch-ultra-condensed">sss</span>
      </div>
  
      <div
        class="text-indigo-300 border-2 border-dotted border-stone-950 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="pl-3 pr-3 font-stretch-ultra-expanded">eeee</span>
      </div>
    </h1>
  </div>
  
  <div >
    <h1 class="font-thin cursor-pointer text-[100px] pt-4">
      <div
        class="border-stone-950 border-3 rounded-full text-lime-300 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="pl-8 pr-2 font-stretch-ultra-expanded">B</span>
      </div>
  
      <div
        class="text-stone-950 bg-indigo-300 hover:blur-3xl inline-block hover:invert transition duration-700"
      >
        <span>e</span>
      </div>
  
      <div
        class="border-lime-300 border-1 text-indigo-300 pl-10 pr-5 inline-block hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="font-extrabold">t</span>
      </div>
  
      <div
        class="bg-stone-950 text-lime-300 border-indigo-300 inline-block border-3 hover:blur-3xl hover:invert transition duration-700"
      >
        <span class="p-3">h .**-..</span>
      </div>
  
      
    </h1>
  </div>
  