---

---

<nav class="text-indigo-300">
  <ul class="grid grid-cols-3">
    <li>
      <a class="hover:bg-black" href="/projekter">projekter</a>
    </li>
    <li>
      <a class="hover:bg-lime-300" href="/about">om mig</a>
    </li>
    <li>
      <a class="hover:bg-indigo-300 hover:text-black" href="/kontakt"
        >kontakt mig</a
      >
    </li>
  </ul>
</nav>
