---

---

<nav class="text-indigo-300">
  <ul class="grid grid-cols-3">
    <li class="border p-1.5">
      <a href="/projekter">projekter</a>
    </li>
    <li class="border p-1.5">
      <a href="/about">om mig</a>
    </li>
    <li class="border p-1.5">
      <a href="/kontakt">kontakt mig</a>
    </li>
  </ul>
</nav>
