---
const {img,link} = Astro.props;
---

<div class="bg-[url(/billeder/plate.jpg)] w-full h-full bg-cover flex justify-center items-center">
    <div class="absoulte inset-0 flex justify-center items-center">
        <a href={link}>
            <img src={img} 
            class="p-5 hover:scale-200 transition duration-500 cursor-pointer
            md:p-17"></>
        </a>
    </div>
</div>