---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Header2 from "../components/Header2.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>elsebeths blog</title>
  </head>
  <body>
    <div class="fixed top-0 right-4 sm:w-25 lg:w-40 xl:w-40">
      <Header />
    </div>
    <div class="fixed top-0 left-4 lg:top-42 lg:w-40 xl:w-40 xl:top-0 sm:w-10">
      <Header2 />
    </div>
    <div class="xl:mr-100 xl:ml-100 lg:mr-50 lg:ml-50 sm:mr-30 sm:ml-30">
      <slot />
    </div>
   
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: #c9becb;  */
    background-image: url(/billeder/lips3.png);
    background-size: cover;  
    background-attachment: fixed;
  }
</style>
