---
import "../styles/global.css";
import Header2 from "../components/Header2.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>elsebeths blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra+Display&family=Astloch:wght@400;700&family=Special+Elite&display=swap" rel="stylesheet">
  </head>

  <body>

  <div class="mr-0 ml-0 
  xl:mr-60 xl:ml-60">
    <slot />
  </div>

  </body>
  
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(6, 5, 6),rgb(219, 219, 224),  rgb(255, 255, 255));
    background-attachment: fixed;
    /* background-color: #ffffff; */
    /* background-color: #c9becb;  */
    /* background-image: url(/billeder/lipsblur.png); 
    background-size: cover;  
    background-attachment: fixed;  */
    
  }
</style>
